################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConnectChain/copilot-chat/e377d3c4/sessions
/.vs/ConnectChain/CopilotIndices
/.vs/CopilotSnapshots
/.vs/ConnectChain/FileContentIndex
/.vs/ConnectChain/FileContentIndex/10c850e6-4ba8-4510-be29-388f9110298c.vsidx
/.vs/ConnectChain/FileContentIndex/a5fbc44b-7bff-4b8f-87cb-70314613df97.vsidx
